.App {
  font-family: sans-serif;
  text-align: center;
}

.overlay_modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 40vw;
  height: 100%;
  margin: 0;
  max-height: 100%;
}

.custom_overlay .modal-content {
  max-height: 100%;
  background-color: #343a40;
}

.custom_overlay .modal-header {
  border-bottom: 1px solid #242629;
}

.modal.fade:not(.in).right .modal-dialog {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.custom_overlay .card-body {
  background-color: #2b262b;
}
